:root {
  --desert-120: #ba900f;
  --desert-100: #e8b411;
  --desert-40: #f8e9b8;
  --desert-20: #faf0cf;
  --desert-10: #fcf7e7;
  --sky-100: #399de1;
  --sky-40: #b0d8f3;
  --sky-30: #c4e2f6;
  --sky-20: #d7ebf9;
  --sky-10: #ebf5fc;
  --sunset-120: #c5501b;
  --sunset-100: #e36b35;
  --sunset-30: #f7d3c2;
  --sunset-20: #f9e1d7;
  --sunset-10: #fcf0eb;
  --forest-120: #0a9e6f;
  --forest-100: #0cc68b;
  --forest-30: #b6eedc;
  --forest-20: #cef4e8;
  --forest-10: #e7f9f3;
  --ocean-100: #002d5b;
  --ocean-80: #014682;
  --ocean-50: #0275d8;
  --outerspace-120: #363636;
  --outerspace-100: #444444;
  --outerspace-80: #696969;
  --outerspace-50: #a2a2a2;
  --outerspace-30: #c7c7c7;
  --mist-100: #bcf6fd;
  --mist-70: #d0f9fe;
  --snow-100: #f4f3ed;

  --serif-font: Rubik, "Segoe UI", Roboto, sans-serif;
  --mono-font: "Fira Code", "Fira Mono", "Menlo", "Cascadia Code", "Roboto Mono",
    "Andale Mono", "Courier New", monospace;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: var(--mono-font);
}

a {
  text-decoration: none;
  color: var(--ocean-80);
}

a:visited {
  color: var(--ocean-100);
}

#page {
  margin: 1em auto;
  max-width: 80em;
  background-color: white;
}

#loginbar {
  height: 3em;
  font-size: smaller;
  color: var(--ocean-100);
  background-color: var(--sky-20);
  padding: 0.25em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#loginbar > * {
  padding: 0.5em;
}

#loginbar a {
  font-weight: bolder;
  color: var(--ocean-50);
}

#mainsection {
  padding: 0.25em;
}

div.g-signin2 {
  display: inline;
}

#zplinput {
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  max-width: 100%;
  max-height: 30%;
}

button {
  font-family: var(--mono-font);
  background-color: var(--snow-100);
}

.godoit {
  width: 100%;
  font-size: larger;
}

code {
  white-space: pre;
}

.status-FAILED::before {
    content: "✘ ";
    color: var(--sunset-120);
}

.status-SUCCEEDED::before {
    content: "✔ ";
    color: var(--forest-120);
}

#zplimage {
  image-rendering: pixelated;
  text-align: center;
}

.scanimage {
  width: 50%;
  max-width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--outerspace-30);
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
}

.spinner {
  display: inline;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--sky-10);
  border-top-color: var(--sky-100);
  animation: spinner 0.48s linear infinite;
}

pre {
  padding: 0.5em;
  color: var(--outerspace-100);
  background-color: var(--desert-10);
  border: 0.125em solid var(--desert-40);
  border-radius: 0.25em;
}

.profilepicture {
  width: 32px;
  height: auto;
  border-radius: 6px;
}
