:root {
    --desert-120: #BA900F,
    --desert-100: #E8B411,
    --desert-40: #F8E9B8,
    --desert-20: #FAF0CF,
    --desert-10: #FCF7E7,
    --sky-100: #399DE1,
    --sky-40: #B0D8F3,
    --sky-30: #C4E2F6,
    --sky-20: #D7EBF9,
    --sky-10: #EBF5FC,
    --sunset-120: #C5501B,
    --sunset-100: #E36B35,
    --sunset-30: #F7D3C2,
    --sunset-20: #F9E1D7,
    --sunset-10: #FCF0EB,
    --forest-120: #0A9E6F,
    --forest-100: #0CC68B,
    --forest-30: #B6EEDC,
    --forest-20: #CEF4E8,
    --forest-10: #E7F9F3,
    --ocean-100: #002D5B,
    --ocean-80: #014682,
    --ocean-50: #0275D8,
    --outerspace-120: #363636,
    --outerspace-100: #444444,
    --outerspace-80: #696969,
    --outerspace-50: #A2A2A2,
    --outerspace-30: #C7C7C7,
    --mist-100: #BCF6FD,
    --mist-70: #D0F9FE,
    --snow-100: #F4F3ED,

    --serif-font: Rubik, "Segoe UI", Roboto, sans-serif;
    --mono-font: "Fira Code", "Fira Mono", "Menlo", "Cascadia Code", "Roboto Mono", "Andale Mono", "Courier New", monospace;
}

body {
    background-color: var(--sky-10);
    padding: 0;
    margin: 0;
    font-family: var(--mono-font);
}

a {
    text-decoration: none;
    color: var(--ocean-80);
}

a:visited {
    color: var(--ocean-100);
}
