<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id"
        content="930425038670-r329a89h71kj1iop89lobd5st8k40ml1.apps.googleusercontent.com">
    <title>ZPL-O-Rama</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div id="loginbar">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" id="signout" onclick="signOut();">Sign out</a>
    </div>
    <div id="mainsection">
    </div>

    <script>

    </script>
</body>

</html>
